<!DOCTYPE html> 
<html>

<head>
	<title>My syte</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
	<link data-require="bootstrap@4.0.0-alpha.2" data-semver="4.0.0-alpha.2" rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
</head>

<body>

<div class="container">
    <%if @error && @error.length > 0 then %>
        <div class="alert alert-danger"><%=@error%></div>
    <% end %>
    <%if @success && @success.length > 0 then %>
        <div class="alert alert-success"><%=@success%></div>
    <% end %>
    <%= yield %>	
</div>

</body>    
</html>
